<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.workbench.user.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.crm.workbench.user.model.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name
  </sql>

  <!--查询所有角色数量-->
  <select id="countActivity" resultType="int">
    select count(1) from tbl_role
  </select>

  <!--根据本页和每页数量查询该页数据(角色)-->
  <select id="selectRoleLimit" resultType="map">
    select
    *
    from
    tbl_role
    limit #{skipNum},#{pageSize}
  </select>

  <!--根据角色id和权限id删除关联-->
  <delete id="deletePermissionByRoleId">
    delete from tbl_role_permission_relation where role_id=#{roleId}
  </delete>


  <!--根据角色id和权限id插入关联-->
  <insert id="insertPermission">
    insert into tbl_role_permission_relation values(null,#{roleId},#{permId})
  </insert>



















  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crm.workbench.user.model.Role">
    insert into tbl_role (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.crm.workbench.user.model.Role">
    insert into tbl_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crm.workbench.user.model.Role">
    update tbl_role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crm.workbench.user.model.Role">
    update tbl_role
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>